*.pyc
*.pyo
*.pyd
__pycache__/
*.pdb
*.log
*.pid
docker-compose.override.yml
.docker/
**/docker/.docker/
migrations/
.vscode/
*.egg
*.egg-info
dist/
build/
.eggs/
.cache/
pytest_cache/
.venv
.env
__pycache__
alembic
data/*
static/